main {
  display: flex;
  align-items: center;
}

* {
    box-sizing: border-box;
  }
  
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator {
  border: 0;
  height: 1px;
  background: #ccc; /* Cor da linha */
  margin: 20px 0; /* Margem acima e abaixo da linha */
}