.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span {
    font-weight: bolder;
}
.title-news-today {
    font-size: larger;
    background-color: rgb(234, 234, 234);
    padding: 30px;
    border-radius: 10px;
}